<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />

    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="None" />
        </rule>
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/(.*)" />
          <action type="None" />
        </rule>
        <rule name="Proxy to Waitress" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8004/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>